@import url("https://use.fontawesome.com/releases/v5.4.1/css/all.css");
@import url("reset.css");
@import url("forms.css");

html{
    font-family: "Helvetica" , sans-serif;
}

body{
    padding:2rem;
}

.button{
    color:white;
    background: #333;
    padding:0.5rem 1rem;
    border:none;
}

label{
    font-weight: bold;
}
